{% extends 'myapp/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Recipes</h1>

    <!-- Search Bar -->
    <form method="get" action="" class="mb-4">
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search for recipes..." value="{{ search_query }}">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>

    <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <img src="{{ recipe.image }}" class="card-img-top" alt="{{ recipe.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text">{{ recipe.summary|safe }}</p>
                    <ul class="list-group list-group-flush">
                        {% if recipe.calories %}
                        <li class="list-group-item">Calories: {{ recipe.calories }} kcal</li>
                        {% endif %}
                        {% if recipe.protein %}
                        <li class="list-group-item">Protein: {{ recipe.protein }} g</li>
                        {% endif %}
                        {% if recipe.fat %}
                        <li class="list-group-item">Fat: {{ recipe.fat }} g</li>
                        {% endif %}
                        {% if recipe.carbs %}
                        <li class="list-group-item">Carbohydrates: {{ recipe.carbs }} g</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
